//- Styles
link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
link(href='/css/global.css', rel='stylesheet')
//- Scripts
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(src='/js/global.js')
